# Security: Sensitive API keys and credentials
.env
.env.local
.env.*.local

# Dependencies: Huge folders that shouldn't be tracked
node_modules/
jspm_packages/

# Logs: Troubleshooting files created by npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
